@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-stone-50 text-stone-800 font-serif;
  }

  ::selection {
    @apply bg-stone-200 text-stone-900;
  }
}

@layer components {
  .jp-text {
    @apply text-sm text-stone-400 leading-loose font-mincho;
  }
}

@layer utilities {
  .page-break {
    page-break-after: always;
  }
}
